## Getting data from a Database ingestion example from DataCamp exercises

From the 'Streamlined Data Ingestion with pandas' course found [here](https://learn.datacamp.com/courses/streamlined-data-ingestion-with-pandas)

In [1]:
# Import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Create database engine to manage connections
engine = create_engine("sqlite:///data/data.db")

In [8]:
# View the tables in the database
print(engine.table_names())

['boro_census', 'hpd311calls', 'weather']

In [3]:
# Load entire weather table by table name
weather = pd.read_sql("weather", engine)

In [4]:
# Alternative way to import the entire weather table using SQL
weather_SQL = pd.read_sql("SELECT * FROM weather", engine)

In [7]:
print(weather.equals(weather_SQL))

True

In [9]:
# Create a SQL query to load the entire hpd311calls table
query = """SELECT * FROM hpd311calls;"""

In [10]:
# Load hpd311calls table using variable SQL query
hpd311calls = pd.read_sql(query, engine)

In [11]:
# View the first few rows of hpd311calls data
hpd311calls.head()

,unique_key,created_date,agency,complaint_type,incident_zip,incident_address,community_board,borough
0,38070822,01/01/2018,HPD,HEAT/HOT WATER,10468,2786 JEROME AVENUE,07 BRONX,BRONX
1,38065299,01/01/2018,HPD,PLUMBING,10003,323 EAST 12 STREET,03 MANHATTAN,MANHATTAN
2,38066653,01/01/2018,HPD,HEAT/HOT WATER,10452,1235 GRAND CONCOURSE,04 BRONX,BRONX
3,38070264,01/01/2018,HPD,HEAT/HOT WATER,10032,656 WEST 171 STREET,12 MANHATTAN,MANHATTAN
4,38072466,01/01/2018,HPD,HEAT/HOT WATER,11213,1030 PARK PLACE,08 BROOKLYN,BROOKLYN

### Create more complicated query

In [12]:
# Write query in triple quotes to split line and query records only from Brooklyn
query = """SELECT *
            FROM hpd311calls
            WHERE borough = 'BROOKLYN';"""

In [13]:
# Query the database
brooklyn_calls = pd.read_sql(query, engine)

In [15]:
# Print the results
print(brooklyn_calls.borough.unique())

['BROOKLYN']

### Combining Conditions: AND

In [16]:
# Write query to get records about plumbing in the Bronx
and_query = """SELECT *
                FROM hpd311calls
                WHERE borough = 'BRONX'
                AND complaint_type = 'PLUMBING';"""

In [17]:
# Get calls about plumbing issues in the Bronx
bx_plumbing_calls = pd.read_sql(and_query, engine)

In [18]:
# Check record count
bx_plumbing_calls.shape

(2016, 8)

### Combining Conditions: OR

In [ ]:
# Write query to get records about water leaks OR plumbing
or_query = """SELECT *
            FROM hpd311calls
            WHERE complaint_type = ''"""